body{
  margin: 0;
  padding: 0;
}

.gcontainer .ghead {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
  }
.gcontainer .ghead .logo {
    margin-right: 10px;
  }
.gcontainer .gcont {
    box-shadow: inset 0px 22px 18px -20px #CCC, inset 0px -22px 18px -20px #CCC;
    width: 100%;
  }
.gcontainer .gcont .dviger .header h2 {
    color: #000;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.125;
  }
.gcontainer .gcont .dviger .header{
    text-align: center;
  }
.gcontainer .gcont .dviger .btik button {
    box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    background: #3d569b;
  }
.gcontainer .gcont .dviger .btik button .butel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    color: #fff;
  }
  .gcontainer .gcont .dviger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
  }
.gcontainer .gcont .dviger .btik button .butel .butel2 {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
    height: 4.4rem;
    font-size: 1.7rem;
  }
  .gcontainer .gcont .dviger .btik button .butel .butel1 {
    margin-right: 3px;
    margin-left: 38px;
    font-size: 35px;
  }
  .gcontainer .gcont .dviger .btik button:focus{
    outline: none;
  }
  .gcontainer .gcont .photo {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  .gcontainer .gcont .friends .heading p {
    color: #000;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.125;
  }
  .gcontainer .gcont .friends .list {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gcontainer .gcont .friends .list .listb {
    max-width: 1140px;
  }
  .gcontainer .gcont .friends .list .listb ul {
    display: flex;
    list-style-type: none;
  }
  .gcontainer .gcont .friends .list .listb ul li {
    margin-left: 47px;
    width: 20%;
  }
  .gcontainer .gcont .friends .list .listb ul li .name .ph img {
    border-radius: 50%;
    width: 100%;
  }
  .gcontainer .gcont .friends .list .listb ul li .name .nm {
    text-align: center;
    font-size: 14px;
  }
  .gcontainer .gcont .friends .list .listb ul li .name .count {
    text-align: center;
    color: #385898;
  }
  .fcontainer {
    padding-top: 10px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
  }
  .fcontainer .fbody .terms ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .fcontainer .fbody .terms ul li {
    color: #337ab7;
    padding-right: 10px;
  }
  .fcontainer .fbody .terms ul li a {
    text-decoration: none;
    color: #337ab7;
  }
  .fcontainer .fbody .terms ul li a:hover {
    text-decoration: underline;
  }
  .fcontainer .fbody .disclaimer {
    margin-left: 20px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .fcontainer .fbody .disclaimer a {
    text-decoration: none;
    color: #337ab7;
  }
  .fcontainer .fbody .disclaimer a:hover {
    text-decoration: underline;
  }
  .fcontainer .fbody .info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fcontainer .fbody .info p {
    margin-block-end: .3em;
    opacity: 0.9;
    font-size: 11px;
  }
  .gcontainer .gcont .friends .heading{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  @media(max-width:551px){
    .gcontainer .gcont .photo img{
      height: 175px;
      width: 90%;
    }
    .gcontainer .gcont .friends .list .listb ul {
      display: flex;
      flex-direction: column;
    }
    .gcontainer .gcont .friends .list .listb ul li {
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%;
    }
    .gcontainer .gcont .friends .list .listb ul li .name{
      margin-left: -36px;
      display: flex;
      justify-self: flex-start;
      flex-direction: column;
    }
    .gcontainer .gcont .friends .list .listb ul li .name .ph img{
      display: flex;
      justify-content: center;
      height: 250px;
      border-radius: 0;
      width: 70%;
    }
    .gcontainer .gcont .friends .list .listb ul li .name .ph{
      display: flex;
      justify-content: center;
    }
    .gcontainer .gcont .friends .list .listb ul li .name .nm{
      margin-top: 5px;
    }
    .gcontainer .gcont .friends .heading p {
      font-size: 1.6em;
    }
    .fcontainer .fbody .info p {
      text-align: center;
    }
  }